body {
  padding-left: 100px;
  padding-top: 50px;
  font-family: open sans;
}

.fib-of {
  font-size: 24px;
}

#toobig {
  color: red;
}

#fibo-input {
  width: 60px;
  height: 20px;
  margin: 0 5px;
}

#fibo-button {
  background-color: #0275d8;
  color: #ffffff;
  margin-right: 5px;
  height: 25px;
}

#result {
  font-size: 24px;
}
#mol {
  color: red;
}

#save-calculation {
  margin-top: 5px;
  font-size: 18px;
}

#checkbox {
  margin-right: 5px;
}

#listFromServer {
  margin-top: 30px;
  padding-left: 0px;
}

li {
  border-bottom: 1px solid black;
  width: 750px;
  line-height: 2.7em;
}

#loader,
#resultsLoader {
  visibility: hidden;
}

.resultsHeader {
  margin-top: 30px;
}
